* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  /* line-height: 1.5; */
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top left, #2893b4, #261f8d);
}

.text {
  position: absolute;
  top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.head-text {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 10rem;
  color: #FFF;
  text-shadow: 4px 2px 10px #fff;
  margin-bottom: 0px;
  /* position: absolute;
  top: 10rem; */

}

.description-text {
  margin-top: 0;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 3.5rem;
  color: #2893b4;
  text-shadow: 1px 1px 10px rgba(38, 31, 141, 0.933);
  /* position: absolute;
  top: 21rem; */
}

.show-modal {
  font-size: 3rem;
  font-weight: 600;
  padding: 1.75rem 3.5rem;
  margin: 5rem 2rem;
  background-color: #261f8d;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10rem;
  cursor: pointer;
}

.show-modal:hover {
  transition: ease-in 0.1s;
  background-color: #2893b4;
  color: #fff;
  border: 2px solid #fff;
  box-shadow: 4px 4px 30px rgba(255, 255, 255, 0.932);
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #261f8d;
  cursor: pointer;
  border: none;
  background: none;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

p {
  font-size: 1.8rem;
}

/* -------------------------- */
/* CLASSES TO MAKE MODAL WORK */
.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}